:root {
    
}

#animation-container {
    position: relative;
    height: 90vh;
    overflow: hidden !important;
    background: url("https://cdn.jsdelivr.net/gh/4gift/4gift-gift-unwrapping/assets/bvlgari/desktop/background-pattern@2x.jpg");
}

#loader {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -0%);
}

#powered-by-4Gifters-logo {
    position: absolute;
    right: 10px;
    top: 10px;
}

#exit-button {
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 50;
    cursor: pointer;
}
#exit-button img {
    width: 22px;
    height: 22px;
}

#pause-button, #restart-button {
    background: none;
    border: none;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, -0%);
    z-index: 50;
    cursor: pointer;
}
#pause-button.pressed img {
    content: url("https://cdn.jsdelivr.net/gh/4gift/4gift-gift-unwrapping/assets/bvlgari/desktop/play-icon@2x.png");
}
#pause-button.animate {
    animation: disappear 1s forwards;
    animation-delay: var(--restart-button-appearing-animation-delay);
}
#restart-button.animate {
    animation: appear 1s forwards;
    animation-delay: var(--restart-button-appearing-animation-delay);
}
button img {
    width: 30px;
    height: 30px;
}

.elem-gift-boxes {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    z-index: 15;
}
#elem-gift-box-tissue-paper {
    background: url("https://cdn.jsdelivr.net/gh/4gift/4gift-gift-unwrapping/assets/bvlgari/desktop/box-tissue.png");
    background-size: contain;
}
#elem-gift-box-tissue-paper.animate  {
    animation: gift-box-disappear var(--tissue-paper-disappear-animation-duration) forwards;
    animation-delay: var(--tissue-paper-disappear-animation-delay);
}
#elem-gift-box-dust-bag {
    background: url("https://cdn.jsdelivr.net/gh/4gift/4gift-gift-unwrapping/assets/bvlgari/desktop/box-dustbag.png");
    background-size: contain;
}
#elem-gift-box-dust-bag.animate {
    animation: gift-box-disappear var(--dust-bag-disappear-animation-duration) forwards;
    animation-delay: var(--dust-bag-disappear-animation-delay);
}
#elem-gift-box-empty {
    background: url("https://cdn.jsdelivr.net/gh/4gift/4gift-gift-unwrapping/assets/bvlgari/desktop/box-empty.png");
    background-size: contain;
}
#elem-gift-box-empty-img {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
}
#elem-gift-box-empty-img.animate {
    animation: slide-down var(--gift-slide-down-animation-duration) forwards;
    animation-delay: var(--gift-slide-down-animation-delay);
}
#elem-gift-box-empty-title {
    position: absolute;
    top: 27%;
    left: 30%;
    width: 40%;
    opacity: 0;
    text-align: center;
}
#elem-gift-box-empty-title.animate {
    animation: appear var(--final-text-appearing-animation-duration) forwards;
    animation-delay: var(--final-text-appearing-animation-delay);
}

#elem-envelope-closed {
    content: url("assets/bvlgari/desktop/envelope-close.png");
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
    margin: auto;
    width: 200px;
    z-index: 15;
}

#elem-gift-box-cover {
    content: url("assets/bvlgari/desktop/lid.png");
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    z-index: 20;

}
#elem-gift-box-cover.animate {
    animation: gift-box-cover-slide-left var(--gift-box-slide-left-animation-duration) forwards;
    animation-delay: var(--gift-box-slide-left-animation-delay);
}

#elem-envelope {
    left: 0;
    position: absolute;
    transform: scale(0.3);
    right: 0;
    top: 40%;
    z-index: 15;
}
#elem-envelope.animate {
    animation: envelope-enlarge var(--envelope-enlarging-animation-duration) forwards, 
                envelope-slide-left var(--envelope-slide-left-animation-duration) forwards;
    animation-delay: var(--envelope-enlarging-animation-delay), 
                    var(--envelope-slide-left-animation-delay);
}

#elem-envelope-front {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 15;
}
#elem-envelope-front.opened {
    z-index: 16;
}
#elem-envelope-back {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 13;
}
#elem-letter {
    background-image: url("https://cdn.jsdelivr.net/gh/4gift/4gift-gift-unwrapping/assets/bvlgari/desktop/letter.png");
    background-size: contain;
    background-position-x: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    min-height: 300px;
    z-index: 14;
}
#elem-letter.animate {
    animation: slide-up var(--letter-slide-up-animation-duration) forwards;
    animation-delay: var(--letter-slide-up-animation-delay);
}

#elem-letter p {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-40%);
    margin: auto;
    width: 80%;
    opacity: 0;
    font-size: 24px;
}
#elem-letter p.animate {
    animation: appear-disappear var(--message-showing-animation-duration) forwards;
}

#elem-envelope-top-1 {
    content: url("https://cdn.jsdelivr.net/gh/4gift/4gift-gift-unwrapping/assets/bvlgari/desktop/envelope-top.png");
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 15;
    transform-origin: top center;
}
#elem-envelope-top-1.animate {
    animation: open-1 forwards var(--envelope-opening-animation-duration);
    animation-delay: var(--envelope-opening-animation-delay);
}
#elem-envelope-top-2 {
    content: url("https://cdn.jsdelivr.net/gh/4gift/4gift-gift-unwrapping/assets/bvlgari/desktop/envelope-top-reverse.png");
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 15;
    transform-origin: top center;
}
#elem-envelope-top-2.animate {
    animation: open-2 forwards var(--envelope-opening-animation-duration);
    animation-delay: var(--envelope-opening-animation-delay);
}
#elem-envelope-front, #elem-envelope-back, #elem-envelope-top-1, #elem-envelope-top-2 {
    width: 500px;
    top: 40%;
}
#elem-letter {
    width: 490px;
}

/* DESKTOP height < 800px */
@media only screen and (max-height: 800px) and (orientation: landscape) {
    .elem-gift-boxes {
        width: 420px;
        height: 420px;
    }
    #elem-gift-box-cover {
        width: 420px;
        height: 420px;
    }
    #elem-envelope-front, #elem-envelope-back, #elem-envelope-top-1, #elem-envelope-top-2 {
        width: 360px;
    }
    #elem-letter {
        width: 350px;
        min-height: 250px;
    }
    #elem-letter p {
        font-size: 18px;
    }

    #pause-button, #restart-button {
        bottom: 30px;
    }
}

/* DESKTOP height < 600px */
@media only screen and (max-height: 600px) and (orientation: landscape) {
    .elem-gift-boxes {
        width: 300px;
        height: 300px;
    }
    #elem-gift-box-cover {
        width: 300px;
        height: 300px;
    }
    #elem-envelope-front, #elem-envelope-back, #elem-envelope-top-1, #elem-envelope-top-2 {
        width: 300px;
    }
    #elem-letter {
        width: 290px;
        min-height: 200px;
    }
    #elem-letter p {
        font-size: 14px;
    }
}

/* DESKTOP height < 450px */
@media only screen and (max-height: 450px) and (orientation: landscape) {
    #elem-envelope-front, #elem-envelope-back, #elem-envelope-top-1, #elem-envelope-top-2 {
        width: 220px;
    }
    #elem-letter {
        width: 210px;
        min-height: 140px;
    }
    #elem-letter p {
        font-size: 12px;
    }
}

/* MOBILE */
@media only screen and (max-width: 768px) and (orientation: portrait) {
    .elem-gift-boxes {
        width: 350px;
        height: 350px;
    }
    #elem-gift-box-cover {
        width: 350px;
        height: 350px;
    }
    #elem-envelope-front, #elem-envelope-back, #elem-envelope-top-1, #elem-envelope-top-2 {
        width: 320px;
    }
    #elem-letter {
        width: 310px;
        min-height: 200px;
    }
    #elem-letter p {
        font-size: small;
    }
}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
    #elem-letter p {
        width: 250px;
    }
}



.animation-paused{
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    -o-animation-play-state: paused !important; 
    animation-play-state: paused !important;
}



@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes disappear {
    from { opacity: 1; }
    to { opacity: 0; z-index: 0;}
}

@keyframes enlarge {
    to {
        height: 100%;
        right: 0;
        top: 0;
    }
}

@keyframes slide-up {
    to {
        transform: translateY(-120px);
    }
}

@keyframes gift-box-disappear {
    to {
        opacity: 0;
    }
}

@keyframes gift-box-cover-slide-left {
    to {
        transform: translateX(-2000px);
    }
}
@keyframes envelope-slide-left {
    to {
        left: -2000px;
    }
}
@keyframes dust-bag-slide-left {
    to {
        transform: translateX(-100%);
    }
}

@keyframes envelope-enlarge {
    to {
        top: 100px;
        transform: scale(1);
    }
}
@keyframes envelope-enlarge-mobile {
    to {
        top: 100px;
        transform: scale(1);
    }
}

@keyframes slide-left {
    to {
        tranform: translateX(-150%);
    }
}

@keyframes open-1 { 
    0%   { transform: rotateX(0deg); }
    90%  { opacity: 0 }
    100% { 
        opacity: 0;
        transform: rotateX(180deg);
        z-index: 13;
        }
}
@keyframes open-2 { 
    0%   { transform: rotateX(0deg); }
    100% { 
        transform: rotateX(180deg);
        z-index: 13;
        }
}

@keyframes slide-down {
    to {
        transform: translateY(30px);
    }
}

@keyframes appear-disappear {
    50%  { opacity: 1 }
    100% { opacity: 0 } 
}


#explosion {
  position: absolute; 
  width: 600px;
  height: 300px;
  top: 30%;
  pointer-events: none; 
  left: 0;
  right: 0;
  margin: auto;
}
#explosion .particle {
    position: absolute; 
    width: 4px;
    height: 4px;
    border-radius: 50%;
    z-index: 100;
    animation: pop 4s forwards;
}

@keyframes pop {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.reveal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1005;
    display: none;
    background-color: rgba(10, 10, 10, 0.45);
    overflow-y: auto;
}