<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4Gift Unwrapping</title>
</head>
<body>
    <div id="animation-container"></div>
    <img id="loader" src="spinner.gif">
    <script type="text/javascript" src="unwrapping-new.js"></script>
    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        const animationContainer = document.getElementById("animation-container");
        const giftUnwrapping = new GiftUnwrapping();

        giftUnwrapping.preLoad("gucci");
        giftUnwrapping.initialize("gucci", <%= messages %>, <%= enjoy %> , animationContainer);
        giftUnwrapping.start();
      });
    </script>
</body>
</html>

