:root {
    --gift-box-enlarging-time: 3s;
    --gift-box-slide-left-time: 5s;
    --envelope-opening-time: 1.5s;
    --letter-slide-up-time: 1.5s;
    --envelope-slide-left-time: 3s;
    --tissue-paper-disappearing-time: 2s;
    --dust-bag-slide-left-time: 3s;
    --restart-button-appearing-time: 25s;
  }


@font-face {
    font-family: futurastd;
    src: url('DESKTOP/FuturaStd-Book.otf');
  }

html, body {
    padding: 0;
    margin: 0;
    overflow: hidden !important;
    font-family: futurastd !important;
}

#animation-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden !important;
    background: url("DESKTOP/BACKGROUND.png");
    background-size: cover;
}

#exit-button {
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 50;
    cursor: pointer;
}
#exit-button img {
    width: 22px;
    height: 22px;
}

#pause-button, #restart-button {
    background: none;
    border: none;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, -0%);
    z-index: 50;
    cursor: pointer;
}
#pause-button.pressed img {
    content: url("DESKTOP/play_icon@2x.png");
}
#pause-button.animate {
    animation: disappear 1s forwards;
    animation-delay: var(--restart-button-appearing-time);
}
#restart-button.animate {
    animation: appear 1s forwards;
    animation-delay: var(--restart-button-appearing-time);
}

button img {
    width: 30px;
    height: 30px;
}

#elem-intro-text {
    font-size: large;
    position: absolute;
    top: 50px;
    left: 10%;
    width: 80%;
    text-align: center;
}
#elem-intro-text.animate {
    animation: disappear 1s forwards;
    animation-delay: 8s;
}


.elem-gift-boxes {
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    z-index: 15;
}
#elem-gift-box-letter {
    content: url("DESKTOP/LETTER\ BOX@2x.png");
    background-size: contain;
}
#elem-gift-box-letter.animate {
    animation: gift-box-disappear 1s forwards;
    animation-delay: 5s;
}
#elem-gift-box-tissue-paper {
    background: url("DESKTOP/BOX-TISSUE.png");
    background-size: contain;
}
#elem-gift-box-tissue-paper.animate  {
    animation: gift-box-disappear 1s forwards;
    animation-delay: 15s;
}
#elem-gift-box-dust-bag {
    background: url("DESKTOP/BOX-DUSTBAG.png");
    background-size: contain;
}
#elem-gift-box-dust-bag.animate {
    animation: gift-box-disappear 1s forwards;
    animation-delay: 20s;
}
#elem-gift-box-empty {
    background: url("DESKTOP/BOX-EMPTY.png");
    background-size: contain;
}
#elem-gift-box-empty-img {
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40%;
}
#elem-gift-box-empty-img.animate {
    animation: slide-down 2s forwards;
    animation-delay: 22s;
}
#elem-gift-box-empty-title {
    position: absolute;
    top: 27%;
    left: 30%;
    width: 40%;
    opacity: 0;
    text-align: center;
}
#elem-gift-box-empty-title.animate {
    animation: appear 1s forwards;
    animation-delay: 24s;
}

#elem-envelope-closed {
    content: url("DESKTOP/ENVELOPE-CLOSE.png");
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
    margin: auto;
    width: 200px;
    z-index: 15;
}

#elem-gift-box-cover {
    content: url("DESKTOP/COPERCHIO.png");
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    margin: auto;
    width: 500px;
    z-index: 20;

}
#elem-gift-box-cover.animate {
    animation: gift-box-cover-slide-left var(--gift-box-slide-left-time) forwards;
    animation-delay: 2s;
}

#elem-tissue-paper {
    content: url("DESKTOP/TISSUE_PAPER@2x.png");
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
}
#elem-tissue-paper.animate {
    animation: appear 1s forwards, disappear var(--tissue-paper-disappearing-time) forwards;
    animation-delay: 4s, 15s;
}

#elem-envelope {
    left: 0;
    position: absolute;
    transform: scale(0.3);
    right: 0;
    top: 40%;
    z-index: 15;
}
#elem-envelope.animate {
    animation: envelope-enlarge 3s forwards, envelope-slide-left var(--envelope-slide-left-time) forwards;
    animation-delay: 5s, 12s;
}

#elem-envelope-front {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 15;
}
#elem-envelope-front.opened {
    z-index: 16;
}
#elem-envelope-back {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 13;
}
#elem-letter {
    background-image: url("DESKTOP/LETTER.png");
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    min-height: 300px;
    z-index: 14;
}
#elem-letter.animate {
    animation: slide-up var(--letter-slide-up-time) forwards;
    animation-delay: 8s;
}

#elem-letter p {
    margin: 90px 70px 30px;
}

#elem-envelope-top-1 {
    content: url("DESKTOP/ENVELOPE-TOP.png");
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 15;
    transform-origin: top center;
}
#elem-envelope-top-1.animate {
    animation: open-1 forwards var(--envelope-opening-time);
    animation-delay: 6s;
}
#elem-envelope-top-2 {
    content: url("DESKTOP/ENVELOPE-TOP-REVERSE.png");
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 15;
    transform-origin: top center;
}
#elem-envelope-top-2.animate {
    animation: open-2 forwards var(--envelope-opening-time);
    animation-delay: 6s;
}

#elem-dust-bag {
    content: url("DESKTOP/DUST_BAG@2x.png");
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    opacity: 0;
}
#elem-dust-bag.animate {
    animation: appear 1s forwards, dust-bag-slide-left var(--dust-bag-slide-left-time) forwards;
    animation-delay: 15s, 20s;
}


#elem-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}
#elem-box.animate {
    animation: appear 1s forwards;
    animation-delay: 20s;
}


#elem-gift {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 30%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
}
#elem-gift.animate {
    animation: appear 1s forwards;
    animation-delay: 20s;
}
#elem-gift h2 {
    margin-bottom: 50px;
    text-align: center;
}
#elem-gift img {
    width: 100%;
}



#elem-envelope-front, #elem-envelope-back, #elem-envelope-top-1, #elem-envelope-top-2, #elem-letter {
    width: 500px;
    top: 40%;
}




@media only screen and (max-width: 768px) {
    .elem-gift-boxes {
        width: 350px;
        height: 350px;
    }
    #elem-gift-box-cover {
        width: 350px;
        height: 350px;
    }

    #elem-gift-box-cover.big {
        left: -150px;
    }

    #elem-tissue-paper {
        content: url("MOBILE/TISSUE_PAPER@2x.png") !important;
    }
    #elem-dust-bag {
        content: url("MOBILE/DUST_BAG@2x.png") !important;
    }

    #elem-envelope-front, #elem-envelope-back, #elem-envelope-top-1, #elem-envelope-top-2, #elem-letter {
        width: 320px;
        top: 50%;
    }
    #elem-letter {
        min-height: 200px;
    }
    #elem-letter p {
        margin: 60px 40px 20px;
        font-size: small;
    }
}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .elem-gift-boxes {
        top: 26%;
    }
    #elem-gift-box-cover {
        top: 26%;
    }
    #elem-envelope.animate {
        animation: envelope-enlarge-mobile 3s forwards, envelope-slide-left var(--envelope-slide-left-time) forwards;
        animation-delay: 5s, 12s;
    }
}



.animation-paused{
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    -o-animation-play-state: paused !important; 
    animation-play-state: paused !important;
}



@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes disappear {
    from { opacity: 1; }
    to { opacity: 0; z-index: 0;}
}

@keyframes enlarge {
    to {
        height: 100%;
        right: 0;
        top: 0;
    }
}

@keyframes slide-up {
    to {
        transform: translateY(-120px);
    }
}

@keyframes gift-box-disappear {
    to {
        opacity: 0;
    }
}

@keyframes gift-box-cover-slide-left {
    to {
        transform: translateX(-2000px);
    }
}
@keyframes envelope-slide-left {
    to {
        left: -2000px;
    }
}
@keyframes dust-bag-slide-left {
    to {
        transform: translateX(-100%);
    }
}

@keyframes envelope-enlarge {
    to {
        top: 100px;
        transform: scale(1);
    }
}
@keyframes envelope-enlarge-mobile {
    to {
        top: 100px;
        transform: scale(1);
    }
}

@keyframes slide-left {
    to {
        tranform: translateX(-150%);
    }
}

@keyframes open-1 { 
    0%   { transform: rotateX(0deg); }
    90%  { opacity: 0 }
    100% { 
        opacity: 0;
        transform: rotateX(180deg);
        z-index: 13;
        }
}
@keyframes open-2 { 
    0%   { transform: rotateX(0deg); }
    100% { 
        transform: rotateX(180deg);
        z-index: 13;
        }
}

@keyframes slide-down {
    to {
        transform: translateY(30px);
    }
}


#explosion {
  position: absolute; 
  width: 600px;
  height: 300px;
  top: 30%;
  pointer-events: none; 
  left: 0;
  right: 0;
  margin: auto;
}
#explosion .particle {
    position: absolute; 
    width: 4px;
    height: 4px;
    border-radius: 50%;
    z-index: 100;
    animation: pop 4s forwards;
}

@keyframes pop {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}